<!DOCTYPE html>
<html>
<body>
  <!--Contenedor -->
    <div class="wrap">
        <form class="login-form" action="">
            <div class="form-header">
                <h3>Login Form</h3>
            </div>
            <!--Email Input-->
            <div class="form-group">
                <input type="text" class="form-input" placeholder="email@example.com">
            </div>
            <!--Password Input-->
            <div class="form-group">
                <input type="password" class="form-input" placeholder="password">
            </div>
            <!--Login Button-->
            <div class="form-group">
                <button class="form-button" type="submit">Login</button>
            </div>
        </form>
    </div>
    <!--End Contenedor -->
</body>
</html>